.grid-container {
  margin: 20px;
}

.grid-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.bulk-delete-checkbox {
  position: absolute;
  top: 15px;
  right: 30px;
}

.mat-h1 {
  margin-left: 15px;
  flex-grow: 1;
}

.bulk-delete-button {
  margin-right: 15px;
}

.task-card-content {
  text-align: center;
}

mat-card-actions .delete-task-button {
  margin-right: 5px;
  float: right;
}
